/* Generate.css */

.image-container {
  position: relative;
  width: 420px;
  margin: 2%;
  cursor: pointer;
  transition: filter 0.3s ease; /* Add a transition for a smoother effect */
}

.image-container:hover img {
  opacity: 0.7; /* Adjust opacity as needed */
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.image-container:hover .image-text {
  opacity: 1;
}
